<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.fullName+', '+person.getYearOfBirth()}">person</p>

<div th:if="${books.isEmpty()}">
    <p>Customer haven't any book!!!</p>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <p>Book list: </p>
    <table th:each="book : ${books}">
        <tr th:text="${book.bookName+', '+book.author+', '+book.yearOfPublishing}">Book</tr>
    </table>
</div>

<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Edit person"/>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete person">
</form>

</body>
</html>