<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<form th:method="POST" th:object="${person}" th:action="@{/people}">

    <label for="name">Enter full name: </label>
    <input type="text" th:field="*{fullName}" id="name">
    <br/>

    <label for="year">Enter year of birth: </label>
    <input type="text" th:field="*{yearOfBirth}" id="year">
    <br/>

    <hr/>
    <input type="submit" value="Add new person">

</form>

</body>
</html>