<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${'Id - '+book.getBookId()}">Book_id</p>
<p th:text="${'Book name - '+book.getBookName()}">Book name</p>
<p th:text="${'Autor - '+book.getAuthor()}">Author</p>
<p th:text="${'Year of publishing - '+book.getYearOfPublishing()}">Year</p>

<hr/>
<a th:href="@{/book/{id}/edit(id=${book.getBookId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/book/{id}(id=${book.getBookId()})}">
  <input type="submit" value="Delete book">
</form>

</body>
</html>