<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${book.getBookId()+') '+book.getBookName()+', '+book.getAuthor()+', '+book.getYearOfPublishing()}">book name</p>
<hr/>
<br/>

<div th:if="${owner}">
    <span>This book now in: </span> <span th:text="${owner.getFullName()}">owner</span>

    <form th:method="PATCH" th:action="@{/book/{id}/release(id=${book.getBookId()})}">
        <input type="submit" value="Delete owner">
    </form>

</div>

<div th:if="${people}">
    <span>This book is free. Who want to get it?</span>
    <form th:method="PATCH" th:action="@{/book/{id}/assign(id=${book.getBookId()})}">
        <lavel for="person">Chose the customer: </lavel>
        <select th:object="${person}" th:field="*{personId}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getFullName()}"></option>
        </select>

        <input type="submit" value="Accept">
    </form>

</div>

<hr/>
<form th:method="GET" th:action="@{/book/{id}/edit(id=${book.getBookId()})}">
    <input type="submit" value="Edit book">

</form>
<form th:method="DELETE" th:action="@{/book/{id}(id=${book.getBookId()})}">
  <input type="submit" value="Delete book">
</form>

</body>
</html>